noderedflow.json
[{"id":"694f6baf.1ba664","type":"tab","label":"eBot","disabled":false,"info":""},{"id":"c7369bf4.591508","type":"function","z":"694f6baf.1ba664","name":"Input Function","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":315,"y":300,"wires":[["e56ac0ce.b56d","afbf44aa.0a06f8"]],"l":false},{"id":"fc166a.9cea1998","type":"function","z":"694f6baf.1ba664","name":"Output Function","func":"\n    msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":300,"wires":[["331048f4.58c358","435e81c0.a028f"]],"l":false},{"id":"e5bb2444.fdd948","type":"inject","z":"694f6baf.1ba664","name":"","topic":"ChatBot","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":199.60000610351562,"y":256.4000015258789,"wires":[["c7369bf4.591508"]],"l":false},{"id":"9c2ef0f3.37319","type":"ui_form","z":"694f6baf.1ba664","name":"","label":"","group":"ce22c423.2e4e48","order":3,"width":"0","height":"0","options":[{"label":"enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":210,"y":360,"wires":[["c7369bf4.591508"]]},{"id":"1e091ad0.1bdc05","type":"ui_text","z":"694f6baf.1ba664","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":-13,"y":397,"wires":[],"l":false},{"id":"e56ac0ce.b56d","type":"watson-conversation-v1","z":"694f6baf.1ba664","name":"eBot","workspaceid":"4d409e97-5b15-4df5-8ef8-3071a8965c81","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bee98f0a-58d0-4df3-b377-bdea7c7f0246","timeout":"","optout-learning":false,"x":428.00000762939453,"y":190.00000476837158,"wires":[["fc166a.9cea1998"]]},{"id":"afbf44aa.0a06f8","type":"ui_text","z":"694f6baf.1ba664","group":"ce22c423.2e4e48","order":1,"width":6,"height":1,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":400,"wires":[],"l":false},{"id":"331048f4.58c358","type":"debug","z":"694f6baf.1ba664","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":440,"wires":[],"l":false},{"id":"435e81c0.a028f","type":"ui_template","z":"694f6baf.1ba664","group":"ce22c423.2e4e48","name":"","order":2,"width":6,"height":5,"format":"<!DOCTYPE html>\n<html>\n<head>\n<style>\ndiv.scrl {\n  background-color: white;\n  width: 310px;\n  height: 400px;\n  overflow: auto\n  margin-bottom:20px;\n}\n</style>\n</head>\n<body>\n<div class=\"scrl\">{{msg.payload}}</div>\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":100,"wires":[[]],"l":false},{"id":"ce22c423.2e4e48","type":"ui_group","z":"","name":"CHAT BOT","tab":"f30464a8.e02cd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f30464a8.e02cd8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]